@{
    ViewBag.Title = "Contact";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body>
    <table>
        <tr>
            <td clospan="4">
                <h3> Admin memebers </h3>

            </td>

        </tr>
        <tr>
            <td>
                <img src="~/Img/SUAS.png" width="210" height="220">
            </td>
            <td>
                <img src="~/Img/MRH.png" width="210" height="220">
            </td>
            <td>
                <img src="~/Img/JF.jpg" width="210" height="220">
            </td>
            <td>
                <img src="~/Img/ALM.jpg" width="210" height="220">
            </td>

        </tr>

        <tr>
            <td class="center0">
                <h5> <b>Sazzadul alam shawon</b></h5>
            </td>
            <td class="center0">
                <h5> <b>Md. Rifat Hossain</b></h5>
            </td>
            <td class="center0">
                <h5> <b>Jannatul Ferdus</b></h5>
            </td>
            <td class="center0">
                <h5> <b>Abdullah al Mahmud</b></h5>
            </td>

        </tr>

        <tr>
            <td class="center0">
                <a href="https://www.facebook.com/sazzadulalamshawonbd/"><img src="~/Img/Facebook.png" width="25" height="25"></a>
                <a href="mailto:sazzad.sua@gmail.com"><img src="~/Img/mail.png" width="25" height="25"></a>

            </td>
            <td class="center0">
                <a href="https://www.facebook.com/rrriiifffaaattt/"><img src="~/Img/Facebook.png" width="25" height="25"></a>
                <a href="mailto:sazzad.sua@gmail.com"><img src="~/Img/mail.png" width="25" height="25"></a>
            </td>
            <td class="center0">
                <a href="https://www.facebook.com/yesmin.kakon.9/"><img src="~/Img/Facebook.png" width="25" height="25"></a>
                <a href="mailto:jannatul6246ferdus@gmail.com"><img src="~/Img/mail.png" width="25" height="25"></a>
            </td>
            <td class="center0">
                <a href="https://www.facebook.com/abdullahal.mahmud.5015/"><img src="~/Img/Facebook.png" width="25" height="25"></a>
                <a href="mailto:abdullahalmahmud06337@gmail.com"><img src="~/Img/mail.png" width="25" height="25"></a>
            </td>

        </tr>

    </table>
    <hr>

    <h3> Location </h3>
    <img src="~/Img/location.png" width=50%></a><hr>

    <h3> Contact </h3>
    <p>
        <b>Phone Number:</b>+8801772994093 <br>
        <b>Address:</b> 20/A, Uttora, Dhaka 1230, Bangladesh. <br>
        <b>Mail:</b>support@bepartner.com <br>
        <b>Website:</b>www.bepartner.com
    </p>
</body>
</html>
