
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>Index</h2>
<input type="button" value="SignIn" class="btn btn-success" onclick="location.href='@Url.Action("SignIn", "Employee")'" />


