/*body {
    margin:15px;
    padding-top: 00px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}




/*############## ############# ######### INVESTORS CSS STARTS RIFAT ############## ############ ###############*/
/*****************registration*/
.in-registration {
    padding-top:20px;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 45px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
    padding-bottom: 30px;
}

.in-reg-img{
    margin-left:120px;
    margin-bottom:20px;
}

.in-reg-button {
    margin-top: 20px;
    margin-bottom: 0px;
    min-width: 350px;
}

.in-registration h2{

    text-align:center;
    margin-right:35px;
}

.in-registration input{
    max-width: 350px;
}

.in-registration textarea {
    max-width: 350px;
}

.in-registration button{
    min-width:350px;
}

/*****************login*/

.loginbody {
    margin-top: 5%;
    
}

.loginbody input[type="email"]{
    min-width:300px;
}

.loginbody .in-login-button{
    min-width:300px;
    margin-bottom:10px;
}
    .loginbody form {
        margin-left: 35%;
        margin-right: 35%;
        padding-top: 2%;
        padding-bottom: 3%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
        background-color: rgb(240, 240, 240);
    }

.logins {
    margin-bottom: 0px;
    margin-top: 15px;
}

.inLogin input{
    max-width: 300px;
}



/******************Profile*/

/*body {
    background: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}*/

.pofile-body {
    display: inline-block;
}

.Inprofile-container {
    /*display:inline-block;*/
    margin-top: -2%;
    margin-left:-19%;

}

input[type = "text"] {
    font-size: medium;
}






.investor-shadow {
    width: 116%;
    height:50%;
    overflow-y:auto;
    box-shadow: 0 2px 10px #f9f9f9 !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
    
    background-color: rgb(240, 240, 240);
}

.profile-tab-nav {
    min-width: 250px;
}

.tab-content {
    flex: 1;
    height:50%;
    overflow-y:auto;
}

.form-group {
    margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #333;
}

    .nav-pills a.nav-link i {
        width: 20px;
    }

.img-circle img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #fff;
}

.list-body{
    height:500px;
    overflow-y:scroll;
}

/********************************Product LIst*/

.In-StartupShadow {
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
    background-color: rgb(240, 240, 240);
}


.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}



/*############## ############# ######### INVESTORS CSS ENDS ############## ############ ###############*/
/*sazzad*/
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.ad-reg-button {
    margin-top: 20px;
    margin-bottom: 0px;
    min-width: 210px;
}

.ad-continer{
    width:30%;
    background-color:transparent;
}
.taransparent{
    background-color:transparent;
}
.radious{
     border-radius:50px;
     border-color:black;
     
}
.em-continer {
    width: 35%;
    background-color: transparent;
}