
@{
    ViewBag.Title = "AD_Chart";
}

@{
    Layout = "~/Views/AD_Home/_AD_Layout.cshtml";
}
<h1 class="h3 mb-0 text-gray-800">Charts</h1>
<br />


<!-- Area Chart -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
    </div>
    <div class="card-body">
        <div class="chart-area">
            <canvas id="myAreaChart"></canvas>
        </div>
        <hr>

    </div>
</div>

<!-- Donut Chart -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="chart-pie pt-4">
            <canvas id="myPieChart"></canvas>
        </div>

        <div class="mt-4 text-center small">
            <span class="mr-2">
                <i class="fas fa-circle text-primary"></i> Direct
            </span>
            <span class="mr-2">
                <i class="fas fa-circle text-success"></i> Social
            </span>
            <span class="mr-2">
                <i class="fas fa-circle text-info"></i> Referral
            </span>
        </div>
        <hr>

    </div>

    <!-- Bar Chart
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="myBarChart"></canvas>
                    </div>
                    <hr>
                    Styling for the bar chart can be found in the
                    <code>/js/demo/chart-bar-demo.js</code> file.
                </div>
            </div>
    -->
</div>


<script src="~/admin_s_d/js/demo/chart-area-demo.js"></script>
<script src="~/admin_s_d/js/demo/chart-bar-demo.js"></script>
<script src="~/admin_s_d/js/demo/chart-pie-demo.js"></script>
