
@{
    ViewBag.Title = "AD_Settings";
}
@{
    Layout = "~/Views/AD_Home/_AD_Layout.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex sa_align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Settings</h1>
    </div>


    <div class="card shadow mb-4">

        <div class="card-header py-3 d-sm-flex sa_align-items-center mb-4 justify-content-between ">

            <img src="~/Img/Reset_password.png" width="30%" height="30%">

            <div class="card-body">
                <div class="table-responsive">

                    <div class="card-body p-md-5 text-black">
                        <form action="" method="post">
                            <h3 style="color:black;">Reset Password</h3>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example8">Old Password:</label>
                                <input type="text" name="Old_Password:" placeholder="********" id="form3Example8" class="form-control" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example8">New Password:</label>
                                <input type="text" name="New_Password" placeholder="********" id="form3Example8" class="form-control" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example8">Confirm Password:</label>
                                <input type="text" name="Confirm_Password" placeholder="********" id="form3Example8" class="form-control" />
                            </div>

                            <input type="Submit" value="Change Password" class="btn btn-success ad-reg-button ">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

